* {
    --vimeo-padding-inline: 15.2vw;
    --vimeo-padding-block: 8.55vw;
    --maroon: #1C1313;
    --lighter-maroon: #2a1d1d;
    --beige: #CEA89E;
    --peach: #F99B73;
    --light-peach: #f9b192;
    --white: #fff;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

::-webkit-scrollbar {
    width: 5px !important;
    background: var(--lighter-maroon);
}

::-webkit-scrollbar-thumb {
    background: var(--beige);
    -webkit-border-radius: 1ex;
}

html {
    box-sizing: border-box;
    scrollbar-color: var(--beige) var(--lighter-maroon);
    scrollbar-width: thin;
}

html,
body {
    position: relative;
    height: 100%;
    min-height: 100%;
}

body {
    font-family: "Martel", "Merriweather", "Droid Serif", serif;
    color: var(--beige);
    margin: 0;
    padding: 0;
    cursor: none;
    font-size: clamp(0.9rem, 0.6rem + 0.5vw, 1.5rem);
    letter-spacing: .01em;
    line-height: 1.667;
    margin: 0;
}


#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: var(--maroon);
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fade-out {
    from {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}

#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}




body.light-bg {
    background-color: var(--white);
}

body.dark-bg {
    background-color: var(--maroon);
}

body.inheritance-home {
    margin: 0 1em;
}

p {
    font-family: "Merriweather", serif;
    letter-spacing: 0.04em;
    font-weight: 300;
    opacity: 0.9;
}

em {
    font-family: "Merriweather", serif;
}

a,
button {
    cursor: pointer;
}

/* Cursor */
body .cursor {
    pointer-events: none;
}

body .cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

@media (hover: none) {
    body {
        cursor: default;
    }

    body .cursor {
        display: none;
    }
}

@media (max-width: 700px) {
    body {
        cursor: default;
    }

    body .cursor {
        display: "none";
    }
}

body .cursor__ball circle {
    fill: var(--maroon);
}

body .cursor__ball--big circle {
    stroke: var(--beige);
    stroke-width: 1px;
    stroke-opacity: 0.4;
}

body.inheritance-home .cursor__ball circle {
    fill: var(--beige);
}

body.inheritance-home .cursor__ball--big circle {
    stroke: var(--maroon);
}


.hide {
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
}

.show-mobile {
    display: none;
}

.bolder,
p.text span.bolder {
    font-weight: 600;
}

.small {
    font-size: 0.8em;
}

/* Text */
h1 {
    font-size: 2.5rem;
    font-weight: lighter;
    letter-spacing: .04em;
    text-align: center;
    width: 100%;
}

h2,
h2 button {
    font-size: clamp(0.9rem, 1rem + 1.5vw, 2rem);
    font-weight: lighter;
    letter-spacing: .03em;
    text-align: center;
    line-height: 1.14;
}

h3 {
    font-size: 1.5rem;
    font-weight: lighter;
    margin: 8px;
    letter-spacing: .03em;
    text-align: center;
    line-height: 1.14;
}

p.text span.italic {
    font-style: italic;
    letter-spacing: .03em;
    text-align: center;
}

p.text span.italic em {
    font-style: normal;
}


.interview-text p.text span.italic {
    text-align: left;
}

p.text span.link,
a {
    color: var(--peach);
    letter-spacing: .03em;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: var(--light-peach);
}

a.standalone-link {
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Merriweather Sans", sans-serif;
}

.curatorial-statement-header {
    max-width: 18em;
    margin-bottom: 2em;
}

.curatorial-statement-title {
    width: 100%;
    font-weight: 500;
}


.quotation-mark--large {
    display: block;
    font-size: 2.78rem;
    line-height: 1;
    padding-top: 0.75em;
}

.pull-quote {
    font-size: 1.3rem;
}

.center {
    display: block;
    text-align: center;
}

p.text span.center {
    font-weight: lighter;
    text-align: center;
}

p.text span {
    font-weight: lighter;
    display: block;
    letter-spacing: .03em;
    text-align: left;
}

hr {
    background: var(--beige);
    height: 1px;
    border: none;
    width: 70%;
    text-align: center;
    margin: 2em auto;
}

img {
    max-width: 100%;
    height: auto;
}

/* Three columns */

.three-columns {
    padding-top: 0.5rem;
    height: calc(100vh - 2rem - 2.5rem);
    width: 100%;
    overflow: hidden;
    display: flex;
}

.left,
.right,
.middle {
    scrollbar-color: var(--beige) var(--lighter-maroon);
    scrollbar-width: thin;
}

.left,
.right {
    width: 25%;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.middle {
    overflow: auto;
    flex-grow: 1;
    flex-direction: column;
    width: 50%;
}


.middle h2,
.middle h2 button span {
    writing-mode: vertical-lr;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
    text-orientation: mixed;
}

.middle .curatorial-heading {
    margin: 0.5em;
}

.middle .interview-heading {
    rotate: 180deg;
    margin: 0.37em;
}

.interview-text {
    margin-top: 2em;
}

.view-container {
    width: 75%;
    display: block;
}

.view-container a {
    display: block;
    text-align: center;
}

.swiper-container {
    height: 77vh;
    background: var(--maroon);

}

.swiper-auto {
    display: block;
    height: 100%;
    overflow: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.swiper-auto .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.swiper-auto .swiper-slide img {
    flex-shrink: 0;
    object-fit: cover;
    min-height: 100%;
}

.view-link {
    font-size: clamp(1.1rem, 1rem + 1.5vw, 2rem);
    letter-spacing: 0.04em;
}

.nma-link {
    font-family: "Merriweather Sans", sans-serif;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.left {
    z-index: 10;
    align-items: left;
    justify-content: left;
    padding-left: 10px;
    padding-right: 5px;
}

.right {
    z-index: 10;
    align-items: left;
    align-content: left;
    padding-right: 5px;
}

.slide {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
}

.left .slide,
.right .slide {
    padding-inline: 1em;
}

.middle .slide {
    flex-wrap: nowrap;
}

p.text {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (min-width: 1000px) {

    .right p.text {
        padding-right: 20px !important;
    }

    .left p.text {
        padding-left: 20px !important;
    }

}

/* Video */
.vimeo-vid-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: var(--vimeo-padding-inline);
    margin-block: calc(var(--vimeo-padding-block) / 2);
    transition: 0.3s;
}

.vimeo-vid {
    z-index: 999;
}

.vimeo-vid iframe {
    /* 16:9 */
    width: calc(96vw - (var(--vimeo-padding-inline) * 2));
    height: calc(54vw - (var(--vimeo-padding-block) * 2));
}

iframe {
    max-height: 99vh;
}


.playbutton {
    width: calc(96vw - (var(--vimeo-padding-inline) * 2));
    height: calc(54vw - (var(--vimeo-padding-block) * 2));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbutton-icon {
    width: 0;
    height: 0;
    border-style: solid;
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
    border-width: 4vw 0 4vw 8vw;
    border-color: transparent transparent transparent var(--lighter-maroon);
}

.playbutton-icon:hover {
    opacity: 1;
    border-width: 4.5vw 0 4.5vw 9vw;

}

/* Swiper slider */

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--maroon);
}

.swiper-slide::before {
    content: "";
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.45;
}


.swiper-button-prev,
.swiper-button-next {
    background-color: transparent;
    border: 0.6vw solid var(--maroon);
    border-radius: 50%;
    height: clamp(20px, 3vw, 60px);
    width: clamp(20px, 3vw, 60px);
    margin-inline: 0.6vw;
    transition: 0.4s;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
    background-color: var(--maroon);
    transform: scale(1.3);
    border: 1px solid rgb(206, 168, 158, 0.4);

}

@media (max-width:30rem) {

    .swiper-button-prev,
    .swiper-button-next {
        margin-inline: 0;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-family: none;
    color: transparent;
}

.swiper-button-disabled {
    opacity: 1;
}


.slide-negative::before {
    background-image: url("negative-capability-texture.jpg");
}

.slide-duet::before {
    background-image: url("duet-texture.jpg");
}

.slide-leslie::before {
    background-image: url("leslie-texture-min.jpg");
}

.slide-here::before {
    background-image: url("here-it-comes-texture-min.jpg");
}

.swiper-slide .playbutton {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.5s;
}

.slide-negative .playbutton {
    background-image: url('negative-capability-thumb.jpg');
}

.slide-duet .playbutton {
    background-image: url('duet-thumb.jpg');
}

.slide-leslie .playbutton {
    background-image: url('leslie-thumb.jpg');
}

.slide-here .playbutton {
    background-image: url('here-it-comes-thumb.jpg');
}

/* Homepage modals */
.home-modal-button {
    color: var(--peach);
    background-color: transparent;
    border-width: 0;
    font-family: "Martel", "Merriweather", "Droid Serif", serif;
    font-style: inherit;
    line-height: inherit;
    padding: 0;
    white-space: nowrap;
}

.modal-home .close {
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Merriweather Sans", sans-serif;
    color: var(--peach);
    position: sticky;
    z-index: 9999;
}


.left.modal-home .close {
    right: 0;
    top: 0;
    height: 60vh;
}

.right.modal-home .close {
    left: 0;
    top: 50%;
}


/* Corner buttons */
.corner-button {
    background-color: transparent;
    border-width: 0;
    font-family: "Martel", "Merriweather", "Droid Serif", serif;
    font-style: inherit;
    font-weight: 600;
    line-height: inherit;
    padding: 0;
    font-size: 1.2rem;
    position: absolute;
    color: var(--light-peach);
    white-space: nowrap;
    transition: 0.3s;

}

.corner-button:hover {
    color: var(--peach);
}

.desc-modal-button {
    transform: translate(-4.65em, 1.85em);
    bottom: 0;
    left: 0;
    padding-top: 3em;
}

.home-button {
    transform: translate(5em, -2.5em);
    top: 0;
    right: 0;
    text-decoration: none;
    padding-bottom: 3em;
}

.desc-modal-button span.desc-1 {
    display: inline-block;
    transform: rotate(90deg) translate(-1em, -0.4em);
    transform-origin: right;
}

.home-1::before {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    content: "\1F861";
    padding-right: 0.4em;
}

.desc-2::after {
    font-family: 'Noto Sans Symbols 2', sans-serif;
    content: "\1F863";
    padding-left: 0.4em;

}

.home-button span.home-2 {
    display: inline-block;
    transform: rotate(90deg) translate(0.75em, 0.4em);
    transform-origin: left;
}

.corner-button span.corner-1,
.corner-button span.corner-2 {
    pointer-events: none;
}


/* Modal (for work description) */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
}


.modal-content {
    position: relative;
    background-color: var(--maroon);
    margin: auto;
    width: clamp(20rem, 70%, 50rem);
}

.modal-body {
    padding: 2% 10% 7% 10%;

}

.modal-header {
    text-align: center;
    letter-spacing: 0.04em;
    margin-bottom: 2em;
    padding: 0 1em;
}

.modal-subtitle {
    font-size: 1.3rem;
}

/* Modal close button */
.close {
    color: var(--light-peach);
    transition: 0.3s;
    text-align: right;
    font-size: 3.5rem;
    padding-right: 1rem;
    padding-top: 1rem;
    line-height: 1;
}

.modal .close {
    display: block;
}

.close:hover,
.close:focus {
    color: var(--peach);

    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 2000px) {
    .slide-negative::before {
        background-image: url("negative-capability-texture-l-min.jpg");
    }

    .slide-duet::before {
        background-image: url("duet-texture-l-min.jpg");
    }

    .slide-here::before {
        background-image: url("here-it-comes-texture-l-min.jpg");
        background-position: top;
    }
}

/* Mobile & high zoom homepage */
@media (max-width: 50rem) {
    .view-container a {
        display: flex;
        flex-direction: column-reverse;
    }

    .nma-link {
        margin-top: 1em;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block !important;
    }

    .three-columns {
        height: auto;
    }

    .left>*,
    .right>* {
        flex-direction: row;
    }

    .left>*>*,
    .right>*>* {
        max-width: 26.3rem;
        padding-inline: 1.3rem;
        flex-basis: 100%;
    }

    .left {
        flex-direction: row-reverse;
    }

    .right,
    .left {
        padding: 0;
    }

    .modal-home {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: var(--maroon);
        width: clamp(20rem, 70%, 50rem);
        overflow: auto;

    }

    .modal-home .close {
        writing-mode: vertical-lr;
    }

    .right.modal-home .close {
        rotate: 180deg;
        padding-right: 1.5rem;

    }

    .left.modal-home .close {
        padding-right: 1.5rem;
    }


    .left.modal-home {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        width: 0;
        overflow: hidden;
        display: flex;
    }

    .right.modal-home {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        width: 0;
        overflow: hidden;
        display: flex;
    }

    .slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .slide-in .slide {
        margin: 0 auto;
        justify-content: center;
    }

    .left.slide-out {
        animation: slide-left 0.5s forwards;
        -webkit-animation: slide-left 0.5s forwards;
    }

    .right.slide-out {
        animation: slide-right 0.5s forwards;
        -webkit-animation: slide-right 0.5s forwards;
    }

    @keyframes slide-in {
        0% {
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 100%;
            overflow: auto;
            transform: translateX(0%);
        }
    }

    @-webkit-keyframes slide-in {
        0% {
            width: 100%;
            overflow: auto;

        }

        100% {
            width: 100%;
            overflow: auto;
            -webkit-transform: translateX(0%);
        }
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            -webkit-transform: translateX(-100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }

    @-webkit-keyframes slide-left {
        0% {
            -webkit-transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            -webkit-transform: translateX(-100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            transform: translateX(100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }

    }

    @-webkit-keyframes slide-right {
        0% {
            -webkit-transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            transform: translateX(100%);
            width: 100%;
            overflow: auto;

        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }
}

@media (max-width: 1000px) {
    .view-container {
        width: 70%;
    }

    .view-container a {
        display: flex;
        flex-direction: column-reverse;
    }

    .curatorial-heading-mobile,
    .interview-heading-mobile {
        z-index: 90;
    }

    .nma-link {
        margin-top: 1em;
    }

    .hide-mobile {
        display: none;
    }

    .show-mobile {
        display: block !important;
    }

    .three-columns {
        height: auto;
    }

    .left>*,
    .right>* {
        flex-direction: row;
    }

    .left>*>*,
    .right>*>* {
        max-width: 26.3rem;
        padding-inline: 1.3rem;
        flex-basis: 100%;
    }

    .left {
        flex-direction: row-reverse;
    }

    .right,
    .left {
        padding: 0;
    }

    .modal-home {
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: var(--maroon);
        width: clamp(20rem, 70%, 50rem);
        overflow: auto;

    }

    .modal-home .close {
        writing-mode: vertical-lr;
    }

    .right.modal-home .close {
        rotate: 180deg;
        padding-right: 1.5rem;

    }

    .left.modal-home .close {
        padding-right: 1.5rem;
    }


    .left.modal-home {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        width: 0;
        overflow: hidden;
        display: flex;
    }

    .right.modal-home {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        width: 0;
        overflow: hidden;
        display: flex;
    }

    .slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }

    .slide-in .slide {
        margin: 0 auto;
        justify-content: center;
    }

    .left.slide-out {
        animation: slide-left 0.5s forwards;
        -webkit-animation: slide-left 0.5s forwards;
    }

    .right.slide-out {
        animation: slide-right 0.5s forwards;
        -webkit-animation: slide-right 0.5s forwards;
    }

    @keyframes slide-in {
        0% {
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 100%;
            overflow: auto;
            transform: translateX(0%);
        }
    }

    @-webkit-keyframes slide-in {
        0% {
            width: 100%;
            overflow: auto;

        }

        100% {
            width: 100%;
            overflow: auto;
            -webkit-transform: translateX(0%);
        }
    }

    @keyframes slide-left {
        0% {
            transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            -webkit-transform: translateX(-100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }

    @-webkit-keyframes slide-left {
        0% {
            -webkit-transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            -webkit-transform: translateX(-100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            transform: translateX(100%);
            width: 100%;
            overflow: auto;
        }

        100% {
            width: 0;
            overflow: hidden;
        }

    }

    @-webkit-keyframes slide-right {
        0% {
            -webkit-transform: translateX(0%);
            width: 100%;
            overflow: auto;
        }

        99% {
            transform: translateX(100%);
            width: 100%;
            overflow: auto;

        }

        100% {
            width: 0;
            overflow: hidden;
        }
    }


}


@media (max-width: 20rem) {

    .view-container {
        width: 90%;
    }

    .middle {
        flex-direction: column;
    }

    .middle .slide {
        flex-wrap: wrap;
    }

    .middle .interview-heading {
        rotate: unset;
    }

    .middle h2 button span {
        writing-mode: initial;
    }
}